* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.section-container, .header-container, .footer-container {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}
header {
    background-color: #2e7d32;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    margin-top: 15px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ffcc00;
}
.hero {
    background: url('greenharvest.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #20c611;
}
.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 1.3em;
    margin-bottom: 30px;
}
.cta-btn {
    background-color: #ffcc00;
    color: #2e7d32;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #ffa500;
}

.services {
    background-color: #37932f;
    padding: 50px 0;
    text-align: center;
}

.services h2 {
    font-size: 2.8em;
    margin-bottom: 30px;
}

.service-boxes {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service-box {
    width: 30%;
    background-color: #b8ac45;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.service-box h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.service-box p {
    font-size: 1.2em;
}

.about {
    background-color: #ebeb45;
    padding: 50px 0;
    text-align: center;
}

.about h2 {
    font-size: 2.8em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    margin-bottom: 15px;
}
.contact {
    background-color: #2e7d32;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact h2 {
    font-size: 2.8em;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.3em;
    margin-bottom: 30px;
}

.contact-btn {
    background-color: #ffcc00;
    color: #2e7d32;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #ffa500;
}

footer {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}
